<h1 class="text-center mb-4">管理者ダッシュボード</h1>

<div class="d-flex justify-content-center">
  <div class="w-50">
    <ul class="list-group">
      <li class="list-group-item">
        <%= link_to "ユーザ管理", admin_users_path, class: "text-decoration-none" %>
      </li>
      <li class="list-group-item">
        <%= link_to "投稿管理", admin_workouts_path, class: "text-decoration-none" %>
      </li>
      <li class="list-group-item">
        コメント管理
        <ul class="list-group mt-2">
          <% @workouts.each do |workout| %>
            <li class="list-group-item">
              <%= link_to "投稿ID：#{workout.id} のコメント", admin_workout_comments_path(workout), class: "text-decoration-none" %>
            </li>
          <% end %>
        </ul>
      </li>
    </ul>
  </div>
</div>