<h1>ユーザー一覧</h1>

<%= render 'form' %>

<% if @users.present? %>
  <ul>
    <% @users.each do |user| %>
      <li>
        <%= image_tag user.get_profile_image(50, 50), class: "profile-img" %>
        <%= link_to user.name, user_path(user) %>
      </li>
    <% end %>
  </ul>
<% else %>
  <p>該当するユーザーはいません</p>
<% end %>