
<h2>FitTogetherでできること</h2>

<div>
  <h3>筋トレを記録する</h3>
  <p>種目名、重量、回数、セット数などの項目に細分化して記録できます</p>
</div>

<div>
  <h3>筋トレ内容をグラフで確認</h3>
  <p>集計された記録はグラフで表示され直観的に筋トレ記録を管理しやすくなります</p>
</div>

<div>
  <h3>筋トレをシェア</h3>
  <p>記録した筋トレはタイムラインに共有することもできます</p>
</div>

<div>
  <h3>ランキングで他者と競う</h3>
  <p>一週間の総重量数でランキングが表示されます。一番を目指して頑張りましょう。</p>
</div>

