<div class="top-background">
  <h1>FitTogether</h1>
  <h4>筋トレをするすべてのひとへ</h4>
  <p>あなたの努力を見える化しませんか？</p>
</div>

<div id="concept">
  <h2>Concept of FitTogether</h2>
    <div>
      <h3>筋トレを記録する</h3>
      <p>種目名、重量、回数、セット数などの項目に細分化して記録できます</p>
    </div>

    <div>
      <h3>筋トレ内容をグラフで確認</h3>
      <p>集計された記録はグラフで表示され直観的に筋トレ記録を管理しやすくなります</p>
    </div>

    <div>
      <h3>筋トレをシェア</h3>
      <p>記録した筋トレはタイムラインに共有することもできます</p>
    </div>
</div>
