<div class="top-background">
  <h3>~For All Trainers~</h3>
  
  <h2>[Fit Together]</h2>
  
  <div class="catch-copy">
    <h2>記録</h2>
    <h2>×</h2>
    <h2>シェア</h2>
  </div>
  
  <p>筋トレをより楽しく習慣づけることのできる<br>SNS型サービスです</p>
</div>


<div id="concept">
  <h3>Concept of FitTogether</h3>
    <div>
      <h4>筋トレを記録する</h4>
      <p>種目名、重量、回数、セット数などの項目に細分化して記録できます</p>
    </div>

    <div>
      <h3>筋トレ内容をグラフで確認</h3>
      <p>集計された記録はグラフで表示され直観的に筋トレ記録を管理しやすくなります</p>
    </div>

    <div>
      <h3>筋トレをシェア</h3>
      <p>記録した筋トレををタイムラインに共有します</p>
    </div>
</div>
