/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


 .nav-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 20px;
  background-color: #222;
  border-radius: 5px;

  height: 70px;          /* ヘッダーの高さを固定 */
  align-items: center;   /* 子要素を縦中央揃え */
}

.nav-list li {
  display: flex;
  align-items: center;
}

.nav-list li a {
  display: flex;
  align-items: center;
  justify-content: center; 
  padding: 10px 15px;
  color: white;
  text-decoration: none;
  font-weight: 600;
  border-radius: 4px;
  transition: background-color 0.3s ease;
  text-align: center;
}

.nav-list li a:hover {
  background-color: #555;
}

.workouts-timeline {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.workout-item {
  display: flex;
  gap: 10px;
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

.profile-img {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  object-fit: cover;
}

.workout-content {
  display: flex;
  flex-direction: column;
}

.workout-actions {
  display: flex;
  gap: 15px;
  margin-top: 5px;
}

.comments {
  margin-top: 5px;
  padding-left: 10px;
  border-left: 2px solid #eee;
}

